<header>
  <div class="sidebar-fixed position-fixed fixed-top">

    <a class="logo-wrapper waves-effect text-center ml-4" [routerLink]="routing.DASHBOARD">
      <img src="../../../../assets/baby_kurama_by_vesrom_d8glp1n-fullview.png" class="img-fluid" alt="">
      <h4 class="h4">KURAMA</h4>
    </a>

    <div class="list-group list-group-flush" >

      <a  routerLinkActive="active" [routerLink]="routing.DASHBOARD" class="list-group-item list-group-item-action waves-effect">
        <mdb-icon fas icon="chart-pie" class="mr-2"></mdb-icon>Dashboard
      </a>
      <a  routerLinkActive="active" [routerLink]="routing.STUDENT_MANAGEMENT" class="list-group-item list-group-item-action waves-effect">
        <mdb-icon fas icon="users" class="mr-2"></mdb-icon>Student </a>
      <a  routerLinkActive="active" [routerLink]="routing.TEACHER_MANAGEMENT" class="list-group-item list-group-item-action waves-effect">
        <mdb-icon fas icon="user-tie" class="mr-2"></mdb-icon>Teacher </a>
      <a  routerLinkActive="active" [routerLink]="routing.COURSE_MANAGEMENT" class="list-group-item list-group-item-action waves-effect">
        <mdb-icon fas icon="list-alt" class="mr-2"></mdb-icon>Course </a>
      <a  routerLinkActive="active" [routerLink]="routing.DOCUMENT_MANAGEMENT" class="list-group-item list-group-item-action waves-effect">
        <mdb-icon fas icon="folder-open" class="mr-2"></mdb-icon>Document</a>
    </div>

  </div>
  <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white fixed-top">

    <!-- Navbar brand -->
    <logo class="ml-3">
      <a class="navbar-brand" routerLink="/dashboard">
        <strong class="blue-text">Kurama Admin</strong>
      </a>
    </logo>

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item" >
          <a class="nav-link" routerLink="/dashboard" mdbWavesEffect>
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <!-- Links -->

      <!-- Search form -->
      <ul class="navbar-nav nav-flex-icons">

        <li class="nav-item">
          <a  class="nav-link" mdbWavesEffect>
            {{currentUser.email}}
          </a>
        </li>
        <li class="nav-item" *ngIf="!loading">
          <a  class="nav-link" mdbWavesEffect (click)="onLogout()">
            <mdb-icon fas icon="sign-out-alt"></mdb-icon> Log out
          </a>
        </li>
        <li class="nav-item" *ngIf="loading">
          <a class="nav-link" >
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
</header>
