<div class="card" >
  <div class="card-header" *ngIf="courseDetail">
    <h6 class="h4">{{courseDetail.name}}</h6>
  </div>
  <div class="card-body">
    <div class="card"  *ngIf="teacherInfo">
      <div class="card-header">
        <h6 class="h6">Teacher info</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <img src="{{teacherInfo.imgUrl}}" alt="thumbnail" class="img-thumbnail"
                 style="width: 100px">
          </div>
          <div class="col-md-5 small dark-grey-text">
            <label>Full name: </label><span class="font-weight-bold"> {{teacherInfo.name}}</span><br>
            <label>Email: </label><span class="font-weight-bold"> {{teacherInfo.email}}</span>

          </div>
          <div class="col-md-3 small dark-grey-text p-0">
            <label>Location: </label><span class="font-weight-bold"> {{teacherInfo.location}}</span><br>
            <label *ngIf="teacherInfo.major == 'SOFTWARE_ENGINEER'">Major: </label><span class="font-weight-bold " *ngIf="teacherInfo.major == 'SOFTWARE_ENGINEER'"> Software Engineer</span>
            <label  *ngIf="teacherInfo.major == 'ECONOMICS'">Major: </label><span class="font-weight-bold " *ngIf="teacherInfo.major == 'ECONOMICS'"> Economics</span>
            <label *ngIf="teacherInfo.major == 'POLITICAL'">Major: </label><span class="font-weight-bold " *ngIf="teacherInfo.major == 'POLITICAL'"> Political</span>
            <label *ngIf="teacherInfo.major == 'COMPUTER_SCIENCE'">Major: </label><span class="font-weight-bold " *ngIf="teacherInfo.major == 'COMPUTER_SCIENCE'"> Computer Science</span>

          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table mdbTable #tableEl="mdbTable" [stickyHeader]="true"
               class=" text-center">
          <thead class="sticky-top">
          <tr>
            <th *ngFor="let head of headElements; let i = index"
                scope="col">{{head | titlecase}}
            </th>
          </tr>
          </thead>
          <tbody #row>
          <tr *ngFor="let el of elements; let i = index">
            <th
              scope="row">{{i+1}}</th>
            <th class="pt-0">
              <img class="img-thumbnail mt-2" *ngIf="el.imgUrl" style="width: 50px" [src]="el.imgUrl" >
            </th>
            <td
              class="red-text">{{el.name}}</td>
            <td>{{el.email}}</td>
            <td >
              <button size="sm" mdbBtn type="button" color="primary" (click)="onCancel(el._id)" [outline]="true" mdbWavesEffect>Cancel
              </button>
            </td>

          </tr>
          </tbody>

        </table>
      </div>
    </div>

    <br/>
    <div class="alert alert-danger mt-3" role="alert" *ngIf="error">
      {{error}}
    </div>

  </div>
  <div class="card-footer" *ngIf="courseDetail">
    <button size="sm" [ngClass]="courseDetail.studentRegistered == 0 ? '' :'disabled'"  *ngIf="!loadingDelete" (click)="onDelete()" mdbBtn type="button" color="primary"  [outline]="true" mdbWavesEffect>Delete
    </button>
    <button size="sm" *ngIf="loadingDelete" [outline]="true" mdbBtn color="primary" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Loading...
    </button>
  </div>
</div>
