<div class="card" *ngIf="teacher">
  <div class="card-header">
  <h6 class="h6" >Teacher: {{teacher.name}}</h6>
  </div>
  <div class="card-body">
    <form [formGroup]="formTeacher">
      <div class="row">
        <div class="col-md-12 text-center mb-3">
          <img class="img-thumbnail mt-2" *ngIf="teacher.imgUrl" style="width: 200px" [src]="teacher.imgUrl" >

          <!--          <a (click)="file.click()">-->
<!--            <img *ngIf="!imgUrl && !currentUser.imgUrl" style="max-width: 25%;" src="https://firebasestorage.googleapis.com/v0/b/kurama-admin.appspot.com/o/2FC7A1A6-9BE6-4FB1-96CA-06D9B325001E_1_201_a.jpeg?alt=media&token=5e89b9d5-39d9-4ff2-acfb-36c8d396c88a" alt="avatar" class="img-thumbnail mt-2">-->
<!--            <img *ngIf="!imgUrl && currentUser.imgUrl" sizes="sm" style="max-width: 25%;" src="{{currentUser.imgUrl}}" alt="avatar" class="img-thumbnail mt-2">-->
<!--            <img class="img-thumbnail mt-2" *ngIf="imgUrl" style="width: 100px" [src]="imgUrl" >-->
<!--          </a>-->
<!--          <input #file type="file" #file style="display:none;" accept='image/*' (change)="onSelectFile(file.files)" />-->

        </div>
        <div class="col-md-4">
          <div class="md-form">
            <input mdbInput type="text" id="email" formControlName="email" [mdbValidate]="true" class="form-control">
            <label for="email" class="">Email</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="md-form">
            <input mdbInput type="text" id="name" formControlName="name" [mdbValidate]="true" class="form-control">
            <label for="name" class="">Name</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="md-form">
            <input mdbInput type="date" id="birth" formControlName="birthDay" [mdbValidate]="true" class="form-control">
            <label for="birth" class="">Birthday</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="md-form">
            <input mdbInput type="text" id="location" formControlName="location" [mdbValidate]="true" class="form-control">
            <label for="location" class="">Location</label>
          </div>
        </div>
        <div class="col-md-4">
          <label class="">Major</label>
          <ng-select [items]="listMajor" bindLabel="name" bindValue="code" formControlName="major"></ng-select>
        </div>
        <div class="col-md-4">
          <div class="md-form">
            <input mdbInput type="password" formControlName="password" id="password" [mdbValidate]="true" class="form-control">
            <label for="password" class="">Password</label>
          </div>
        </div>
        <div class="col-md-12">
          <div class="alert alert-danger" *ngIf="messError" role="alert">
            {{messError}}
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-6">
        <button type="button" mdbBtn size="sm" color="danger" *ngIf="!loadingDelete" [block]="true" mdbWavesEffect (click)="onDelete()">Delete</button>
        <button mdbBtn color="danger" *ngIf="loadingDelete" size="sm" [block]="true" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Loading...
        </button>
      </div>
      <div class="col-md-6">
        <button size="sm" mdbBtn type="button" *ngIf="!loadingUpdate" color="primary" [block]="true" (click)="onUpdate()"  mdbWavesEffect>Save</button>
        <button mdbBtn color="primary" *ngIf="loadingUpdate" size="sm" [block]="true" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Loading...
        </button>
      </div>
    </div>
  </div>
</div>
